@use 'mixins' as *;

.footer {
  position: sticky;
  bottom: 0;
  z-index: -1;
  background-image: url('../images/footer-bg.jpg');
  background-size: cover;
  background-position: center;
  min-height: 200px;

  @include tablet {
    min-height: 360px;
  }

  @include desktop {
    min-height: 480px;
  }
}
