@use 'variables' as *;
@use 'mixins' as *;

.header {
  position: relative;
  z-index: 1;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-block: 24px;

    @include tablet {
      padding-block: 36px;
    }
  }

  &__logo-img {
    display: block;
    width: 130px;
    height: 38px;

    @include tablet {
      width: 187px;
      height: 56px;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 24px;

    @include tablet {
      gap: 32px;
    }
  }

  &__phone,
  &__burger {
    display: flex;
    cursor: pointer;

    img,
    svg {
      display: block;
      width: 24px;
      height: 24px;

      @include tablet {
        width: 32px;
        height: 32px;
      }
    }
  }

  &__phone {
    transition: opacity $transition;

    &:hover {
      opacity: 0.7;
    }
  }

  &__burger {
    color: $color-text;

    &-icon--hover {
      opacity: 0;
    }

    &:hover &-icon--default {
      opacity: 0;
    }

    &:hover &-icon--hover {
      opacity: 1;
    }
  }
}
