@use 'variables' as *;
@use 'mixins' as *;

.hero {
  background-image: url('../images/hero-bg.jpg');
  background-size: cover;
  background-position: right center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 100svh;
  padding-bottom: 88px;
  margin-top: -$header-height-mobile;

  @include tablet {
    padding-bottom: 130px;
    margin-top: -$header-height;
    background-position: center;
  }

  @include desktop {
    padding-bottom: 203px;
  }
}

.hero__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1;
  letter-spacing: -1.5px;
  text-align: center;
  margin: 0;

  @include tablet {
    font-size: 64px;
  }

  @include desktop {
    font-size: 80px;
    max-width: 672px;
    margin-inline: auto;
  }
}
