@use 'variables' as *;
@use 'mixins' as *;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: $color-background;
  color: $color-text;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  overflow-x: hidden;
}

/* stylelint-disable-next-line selector-max-id */
body:has(#menu-toggle:checked) {
  overflow: hidden;
}

.container {
  max-width: 280px;
  margin: 0 auto;

  @include tablet {
    max-width: 600px;
  }

  @include desktop {
    max-width: 1020px;
  }
}
