$color-background: #1d1d1d;
$color-menu-bg: #c2c2c2;
$color-text: #fff;
$color-input-bg: #f8f8fa;
$color-placeholder: #7e7e83;
$color-button-text: #1d1d1d;
$shadow-button-hover: 1px 4px 16px rgba(232, 232, 240, 0.4);
$shadow-button-pressed: 1px 4px 16px rgba(232, 232, 240, 0.64);
$transition: 0.3s;
$header-height-mobile: 86px;
$header-height: 128px;
